{% extends 'index.html' %}{% block content %}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Categorías</h1>
    <p class="mb-4">Aquí encontrarás el listado de todas las categorías registradas
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Listado</h6>
        
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <a href="" class="btn btn-success"><i class="fa-solid fa-circle-plus"></i> Agregar</a>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                   
                    <thead>
                        
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Acción</th>
                            
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Acción</th>
                        </tr>
                    </tfoot>
                    <tbody>

                        {% for categoria in categorias %}
                        <tr>
                            <td>{{categoria.id}}</td>
                            <td>{{categoria.nombre}}</td>
                         
                            <td>
                            <a href="" class="btn btn-primary" ><i class="fa-solid fa-eye"></i></a>
                            <a href="" class="btn btn-warning"><i class="fa-solid fa-pencil"></i></a>
                         
                            </td>
                        </tr>

                        {%endfor%}

                     
                      
          
       

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

{% endblock %}