{% extends 'index.html' %}{% block content %}
{% load humanize %}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Productos</h1>
    <p class="mb-4">Aquí encontrarás el listado de todos los productos regisstrados
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Listado</h6>
        
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <button href="" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-circle-plus"></i> Agregar</button>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                   
                    <thead>
                        
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Valor neto</th>
                            <th>Valor público</th>
                            <th>Cantidad</th>
                            <th>Categoría</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Valor neto</th>
                            <th>Valor público</th>
                            <th>Cantidad</th>
                            <th>Categoría</th>
                            <th>Acción</th>
                        </tr>
                    </tfoot>
                    <tbody>

                        {% for producto in productos %}
                        <tr>
                            <td>{{producto.id}}</td>
                            <td>{{producto.nombre}}</td>
                            <td>$ {{producto.valor_neto | intcomma }}</td>
                            <td>$ {{producto.valor_publico | intcomma }}</td>
                            <td>{{producto.cantidad}}</td>
                            <td>{{producto.categoria_id}}</td>
                            <td>
                            <a href="{% url 'addcantidad' producto.id %}" class="btn btn-primary" ><i class="fa-solid fa-circle-plus"></i></a>
                            <a href="{% url 'editar_producto' producto.id %}" class="btn btn-warning"><i class="fa-solid fa-pencil"></i></a>
                            </td>
                        </tr>

                        {%endfor%}

                     
                      
          
       

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar producto</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="" method="post">
                {% csrf_token %}
                {{formulario}}
                <hr>
                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-circle-plus"></i> Agregar</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              
            </div>
          </div>
        </div>
      </div>

</div>

{% endblock %}