{% extends 'index.html' %}{% block content %}
{% load humanize %}

<h1>Valor acumulado: ${{total.0.total |intcomma}}</h1>
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                   
    <thead>
        
        <tr>
           
            <th>Nombre</th>
            
            <th>Valor público</th>
            <th>Cantidad</th>
            <th>total</th>
            
            <th>Acción</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
         
            <th>Nombre</th>
     
            <th>Valor público</th>
            <th>Cantidad</th>
            <th>total</th>
           
            <th>Acción</th>
        </tr>
    </tfoot>
    <tbody>

        {% for producto in productos %}
        <tr>
           
            <td>{{producto.producto.nombre}}</td>

            <td>${{producto.producto.valor_publico | intcomma}}</td>
         
           
            
            <td>{{producto.cantidad}}</td>
            <td>${{producto.resultado | intcomma }}</td>
           
            <td>
            <a href="{% url 'eliminardetalle' producto.id producto.recibo.id %}" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></a>
            </td>
        </tr>

        {%endfor%}

     
      



    </tbody>
</table>

<hr>

<form action="" method="post">
    {% csrf_token %}
    {{formulario}}
    <hr>
    <button class="btn btn-block btn-success" type="submit"><i class="fa-solid fa-plus"></i> Agregar</button>

    {% if cerrar %}

    <button type="button" class="btn btn-warning btn-block" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Cerrar recibo
      </button>
      {% endif %}
    
</form>


<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">¿Estás seguro de querer cerrar el recibo ?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        Ten presente que una vez cerrado el recibo y ano podras agregar mas productos este recibo, adicional, se te descontaran los productos en tu inventario, y seran tenidos en cuenta para el cierre al final del día
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <a  class="btn btn-primary" href="{% url 'cerrarRecibo' detalle %}" >Aceptar</a>
        </div>
      </div>
    </div>
  </div>



{% if error %}


  <script>
 Swal.fire({
  icon: 'error',
  title: 'Oops...',
  text: 'La cantidad supera el limite en stock',
 
})
  </script>

{% endif %}



{% endblock %}