{% extends 'index.html' %}{% block content %}

<div class="row">

    <div class="col-lg-6">

        <!-- Circle Buttons -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Registrar venta sin cliente</h6>
            </div>
            <div class="card-body">
                <p>Acá se asigna la venta a cliente por defecto "Ventas mostrador"</p>
                <a href="{% url 'crearrecibo' 1 %}" class="btn btn-facebook btn-block"><i class="fa-solid fa-landmark"></i> Continuar</a>

            </div>
           
        </div>

     

    </div>

    <div class="col-lg-6">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Asignar cliente</h6>
            </div>
            <div class="card-body">
                <p>Acá podras asignarle un cliente a la venta que ya se encuentre registrado, o puedes crear uno nuevo</p>

                <a href="{% url 'crearCliente' %}" class="btn btn-facebook btn-block"><i class="fa-solid fa-user-plus"></i> Continuar</a>
               
            </div>
        </div>

    </div>

</div>

{% endblock %}